<header class="site-header">
  <div class="hero" style="background-image: url('{{ '/assets/images/alaa-cherni-weRfY10oRYE-unsplash.jpg' | relative_url }}');">
    <nav class="nav">
      <a href="{{ '/' | relative_url }}" class="nav-brand">paul warren dot net</a>
      <div class="nav-links">
        <a href="#">Page</a>
        <a href="#">Page</a>
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="#" class="nav-button">Button</a>
      </div>
    </nav>
  </div>
</header>
